body {
  background-color: rgb(231, 231, 231);
  margin: 0;
}

#icon {
  margin-right: 1rem;
}

#upload-form {
  background-color: rgb(252, 252, 252);
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px -3px #141414; 
  box-shadow: 0px 0px 15px -3px #141414;
  padding: 2.5rem;
  width: 40vw;
  max-width: 50vw;
  margin-left: 30vw;
  margin-right: 30vw;
  display: flex;
  flex-direction: column;
}

#loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-left: 50vw;
  margin-right: 50vw;
}

#result-div {
  margin-left: 30vw;
  margin-right: 30vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#result-image {
  -webkit-box-shadow: 0px 0px 15px -3px #141414; 
  box-shadow: 0px 0px 15px -3px #141414;
  border-radius: 5px;
  width: 48vw;
  height: 28vw;
}